[2019-09-12 07:28] ykgarfield opened #1 "It's need to install 2.5.0 version of protoc, otherwise mvn package will fail"
According to `docs\tubemq_user_guide.md`, if direct to execute `mvn clean package -Dmaven.test.skip`, it will report following error:

[code]

So we need first to install `protobuf`, version is `2.5.0`, the project's protobuf-java version is 2.5.0, if installed version is not match 2.5.0, maybe be occur following error:

[code]

The document is better to write this.

[2019-09-12 08:21] tisonkun commented on #1
@ykgarfield thanks for reporting this! I think a prerequisite section is good to have under `docs/tubemq_user_guide.md`. Would you like to send a pull request?

[2019-09-12 11:13] gosonzhang commented on #1
Thanks, we'll fix it.

[2019-09-12 11:14] tisonkun commented on #1
Hi @gosonzhang, there is an ongoing pull request #2 to this issue. Could you please take a look at it?

[2019-09-15 13:46] zhou5852 opened #3 "很不错 原来腾讯也有Java程序员 我跑在工业物联网试试效果"

[2019-09-15 15:46] lujianyou commented on #1
You are right,I have upgrade it to version 3.9.1,It works

[2019-09-16 00:03] gosonzhang commented on #3
Just do it, you'll get what you want

[2019-09-16 02:39] wenweihu86 opened #4 "在腾讯哪些业务有落地使用？"

[2019-09-16 02:56] gosonzhang commented on #4
TDBank, Wide Point, WeChat Advertising, Tencent Games, WeChat Payment, WeChat Basic Data, Tencent Video, Microvision, Compass, etc.

[2019-09-16 06:45] xiaoya0991 opened #5 "文档什么时候完善？"
安装文档时候完善

[2019-09-16 06:53] tisonkun commented on #5
@xiaoya0991 你好，请问你在阅读安装文档的时候发现了什么具体的不完善之处呢？

同时 #2 是一个正在 review 中的 pull request，介绍了安装过程中要求预先装好 protobuf 工具的文本。如果你还发现了其他问题，欢迎详细描述或者开启一个 pull request 修复。

[2019-09-16 07:11] hxnan opened #6 "性能方面有没有压测数据提供参考。"
性能方面有没有压测数据提供参考。
比如日均接入量超过 25 万亿条，每秒 86400条，使用了多少服务器资源？

[2019-09-16 07:17] #6 closed, assigned to nobody

[2019-09-16 07:17] hiSolitude commented on #6
同问

[2019-09-16 07:24] hxnan commented on #6
https://github.com/Tencent/TubeMQ/blob/master/docs/tubemq_perf_test_vs_Kafka_cn.md

[2019-09-16 09:37] hanwei-mtsm opened #7 "com.tencent.tubemq.server.master.TMaster 报错"
import com.tencent.tubemq.corebase.protobuf.generated.ClientMaster.*;
报错。源文件缺失protobuf包。

[2019-09-16 10:03] gosonzhang commented on #7
It needs to be compiled before use
------------------------------------------
工程下载下来要先编译

[2019-09-16 12:11] tisonkun commented on #7
@hanwei-mtsm Hi, please note that the import has a package contains `protobuf.generated` that infers it is generated by protobuf. Generally you need to build the project first for globally indexing the source code.

---

你好，包名包括了 `protobuf.generated` 字段，通常这意味着这份代码由 protobuf 生成。你可以阅读 protobuf 的[官网资料](https://developers.google.com/protocol-buffers/)了解更多关于代码生成的信息，但一般来说，你需要先 build 整个工程以生成相关的源代码文件。在 bu

[2019-09-17 08:31] tisonkun opened #8 "Add issue templates"
[Issue templates](https://help.github.com/en/articles/creating-issue-templates-for-your-repository) is a feature that nice to have. It can help our users express their requirements smoothly.

We can learn from [Akka project](https://github.com/akka/akka/issues/new/choose) and customize our own issue templates.

I'd like to send a pull request in this week if there is no further concerns.

referenc

[2019-09-17 09:49] soocold opened #9 "broker的HA方案是什么，有规划吗？"
从文档上看数据是没有多副本策略，如果一台broker宕机了，是不是这台机器的未消费的消息都丢失了？数据的丢失是mq的一个核心指标，如果没有数据不丢失的保证，生产环境使用还是有风险的

[2019-09-17 10:50] gosonzhang commented on #9
TubeMQ is suitable for high concurrency, massive data and tolerate a small amount of data loss scenarios under abnormal conditions.

From the actual application situation, the Broker encounters an abnormality that the disk fails under RAID10 and cannot be recovered, or the broker suddenly loses power and the memory has not been flushed, and the unconsumed data will be lost; if the disk failure can

[2019-09-17 10:55] gosonzhang commented on #9
TubeMQ plans to provide different data service guarantees in the service classification mode. At present, the use of zk for offset persistence is also based on this consideration.

---　---　---　---　---　---　---　---　---

TubeMQ计划后续以服务分级方式提供不同的数据服务保证，目前offset持久化使用zk也是基于这点考虑暂未改造

[2019-09-17 11:01] RojerAlone opened #10 "fastjson need to upgrade the latest version"
the 1.2.58 version has security risks, see https://github.com/alibaba/fastjson/releases/tag/1.2.60

[2019-09-17 11:29] yiheng commented on #10
Thanks for reporting this issue. We will fix it, or it's better you can raise the PR if you'd like to. It should be a small change.

[2019-09-17 12:37] gosonzhang commented on #10
thanks

[2019-09-17 12:37] #10 closed, assigned to nobody

[2019-09-17 14:58] ykgarfield opened #12 "Webui page title display error"
The topic list、topic detail and other multiple pages title display error, as shown in the following figure:

![TIM截图20190917165505](https://user-images.githubusercontent.com/1425308/65026901-0714a680-d96c-11e9-8941-3d5dc741e2bb.png)

According to source code, tow places not set page title:

- `layout/default.vm`、`layout/tubeweb.vm` only judge two pages:

[code]

-  `execute()` method of some `Acti

[2019-09-17 15:01] tisonkun opened #13 "Adjust version of TubeMQ"
https://github.com/Tencent/TubeMQ/blob/bd1f48c496e5fd4ddb880703eb0f1d3c7818d131/pom.xml#L26

Start with a new iteration looks reasonable. What do you think @gosonzhang @yiheng ?

[2019-09-17 16:51] #8 closed, assigned to nobody

[2019-09-17 17:27] tisonkun opened #15 "Standard commit format"
Currently commits of TubeMQ don't have a standard format. A standard format helps search/filter commits in log, understand the purpose of a commit or a pull request and so on.

Here are several alternatives coming from other project.

1). Study from Spark & Flink, `[TUBEMQ-<issue-number>][<component>] ...`. Concerns here would be what issue tracker we use(for now it seems we just use GitHub issues

[2019-09-17 17:30] tisonkun opened #16 "Codestyle plugin settings"
I notice that we have a [intellij-java-google-style](https://github.com/Tencent/TubeMQ/blob/master/codestyle/intellij-java-google-style.xml) configuration. However, to turn on its power, I think the corresponding intellij plugin is required.

Maybe it is worth a document entry.

[2019-09-18 02:33] yiheng commented on #13
Yeah. Also, use snapshot version on master may be more reasonable.

[2019-09-18 03:01] honestAnt commented on #5
有文档，只是不太友好吧

[2019-09-18 03:30] ykgarfield opened #18 "tubemq-server module should remove the dependency of tubemq-example module"
Now, the `tubemq-server` module depend on `tubemq-example` module, as shown of `tubemq-server` pom.xml:

[code]

In theory, `tubemq-server` should not depend on `tubemq-example`.

[2019-09-18 03:36] tisonkun commented on #18
Hi @ykgarfield I think you're right. Is there any existing dependencies from `tubemq-server` to `tubemq-example`? If not, we can directly remove this code snippet; if so, maybe it is worth separated issues to resolve the unreasonable dependencies respectively.

[2019-09-18 03:45] ykgarfield commented on #18
I check the code,  no dependencies from `tubemq-server` to `tubemq-example`, also I remove the dependency and run in IDE, it's no problem.

[2019-09-18 04:37] tisonkun commented on #18
Thanks for your investigation. It would be nice if you open a pull request to this issue  :-)

[2019-09-18 07:02] quaff opened #20 "Remove outdated dependency jackson-mapper-asl"
Please reuse `fastjson` or upgrade to latest `jackson-databind`.

[2019-09-18 08:38] quaff commented on #20
I've created #21

[2019-09-18 09:05] wenweihu86 commented on #9
@gosonzhang 多副本同步复制或者异步复制，可以做成可配置，让具体业务去选择。

[2019-09-18 11:09] klboke opened #23 "consumer接收消息时导致CPU100%"
系统：Windows10
运行环境：jdk8
开发工具：IDEA2019.1.3X64
初步定位到FetchTaskWorker 空转导致CPU 100% ，在Producer发送消息时，consumer接收消息后必现
[code]
![image](https://user-images.githubusercontent.com/18591662/65143390-6bf0ff00-da47-11e9-9820-2dd9fedf935f.png)

[2019-09-18 11:25] tisonkun commented on #13
I think this issue has been addressed by 84a056a843fbb8e586d36f3b0876f6cf33062053

[2019-09-18 11:25] #13 closed, assigned to nobody

[2019-09-18 11:40] lizhiboo commented on #23
能够提供一下cpu100%时的线程堆栈吗？可以使用jstack pid > thread.txt

[2019-09-18 11:44] pierre94 opened #24 "flink-connector-TubeMQ"
hope TubeMQ can provide flink-connector？

[2019-09-18 11:45] gosonzhang commented on #9
Yes, we plan to provide multiple copies to allow the business to choose different data quality guarantees.

---　---　---　---　---　---　---　---　---

是的，我们计划提供多副本功能，让业务能选择不同的数据质量保证

[2019-09-18 11:45] klboke commented on #23
[code]

[2019-09-18 12:41] tisonkun commented on #24
Hi @pierre94 thanks for creating this issue!

We have already had experiences connecting TubeMQ with Apache Flink. And it is in our roadmap to provide a flink-connector-tubemq!

[2019-09-18 13:22] lizhiboo commented on #23
我在本地测试了一下，发现大部分的线程堆栈是netty包下面的线程，netty3在windows环境下会存在这个问题，目前建议先在linux环境运行。后续会有计划升级到netty4。

[2019-09-19 02:29] GodBlessWorld opened #27 "用户文档里：关于集群有俩个角色：master ,broker的疑问"

[2019-09-19 02:34] GodBlessWorld commented on #27
在看用户文档时，原文：There're two roles in the cluster: Master and Broker. 乍看时有点费解，这俩个角色不应该是master和slave嘛？broker应该是master跟slave的统称呀。难道tubeMq跟世界公认的消息中间件基本术语不一样？

[2019-09-19 03:40] #1 closed, assigned to nobody

[2019-09-19 07:27] gosonzhang commented on #20
Very meticulous discovery, thank you!

－－－－－－－－－－

非常细致的发现，谢谢！

[2019-09-19 07:27] #20 closed, assigned to nobody

[2019-09-19 08:25] gosonzhang commented on #27
You are right, the cluster's control role is called controller, or manager, it will be more suitable than the master, the system is called by the original personnel, and later the name will follow the name unchanged.

Now the requirements for external open source are different. If the name is not significant, we will adjust it in later versions. Then, when other components on the chain are open so

[2019-09-19 08:26] quaff commented on #20
还有很多依赖过时了

[2019-09-19 08:42] gosonzhang commented on #20
Yes, you are right, online system, we will not easily upgrade dependent components based on the stability of the system. The next component to be upgraded is netty, ready to upgrade to 4.X to improve system performance.

－－－－－－－－－－－－－－－－－－－－－

是的，你说的对，线上系统，我们会基于保证系统的稳定性考虑不轻易升级依赖组件．接下来有计划升级的组件是netty，准备升级到 4.X，以提升系统性能

[2019-09-19 10:07] klboke commented on #23
感觉不是netty的问题，TubeMQ的consumer默认创建了8个FetchTaskWorker线程来获取message，当我试图手动设置consumerConfig.setPushFetchThreadCnt(3)时，CPU100%占用的情况明显好转了，而且最终我发现，FetchTaskWorker线程近乎死循环一样的请求Broker获取message，获取不到时，会响应404，最终走向如下逻辑分支中的case TErrCodeConstants.NOT_FOUND，
[code]
看这块的代码注释，应该根据限制配置减慢请求的速度，默认配置getMsgNotFoundWaitPeriodMs为200ms，但是下面的代码没有任何阻塞的操作。最后的errRspRelease（）操作，也是以近乎死循环的往HashedWheelTimer写任务，如：
[code]
所以最终体现CPU100%

[2019-09-19 10:30] klboke commented on #23
下面是我在执行timeouts.put(partitionKey, timer.newTimeout(new TimeoutTask(partitionKey), waitDlt, TimeUnit.MILLISECONDS));前追加的日志打印情况，如：
[code]

[2019-09-19 10:35] nizaikanwome opened #32 "ClientMaster and ClientBroker not found in tubemq-core module"

[2019-09-19 10:59] gosonzhang commented on #32
The same question in https://github.com/Tencent/TubeMQ/issues/7

[2019-09-19 10:59] #32 closed, assigned to nobody

[2019-09-19 11:07] #4 closed, assigned to nobody

[2019-09-19 11:09] gosonzhang commented on #3
@zhou5852， Can you tell me what happened later?

－－－－－－－－－－－－－－－－－－－－－

@zhou5852，能告诉我后来的事情吗？

[2019-09-19 11:09] #7 closed, assigned to nobody

[2019-09-19 12:28] kaynewu commented on #9
@gosonzhang  Consider using hdfs as the storage layer? if one broker is down ,we can start the same broker at any other node immediately.

[2019-09-19 12:35] lizhiboo commented on #23
确实是FetchTaskWorker线程导致cpu100%，问题应该是出在RmtDataCache.java
String key = indexPartition.poll();  ###  #**修改成indexPartition.take();当indexPartition为空时，阻塞等待timeout生产分区信息到indexPartition。**
[code]

[2019-09-19 12:50] gosonzhang commented on #9
If the hdfs nodes are outside the cluster, they are equivalent to adding additional machine costs. If they are in the cluster, the same machine resource will be shared by multiple copies.

－－－－－－－－－－－－－－－－－－－－－－－－－－

hdfs节点如果在集群之外，相当于是增加了额外机器成本，如果是集群内则相同机器情况下会为多副本分摊同份资源

[2019-09-19 12:55] gosonzhang commented on #23
Thanks @klboke

[2019-09-19 13:08] #23 closed, assigned to nobody

[2019-09-20 03:38] wwjjqq opened #36 "源码中找不到类"
com.tencent.tubemq.corebase.protobuf.generated.ClientBroker这个类找不到，麻烦解决下

[2019-09-20 03:40] klboke commented on #36
编译下tubema-cor模块就有了，你需要搭建下protobuf编译环境：https://github.com/protocolbuffers/protobuf/releases/tag/v2.5.0

[2019-09-20 03:41] tisonkun commented on #36
duplicated #7

[2019-09-20 03:41] #36 closed, assigned to nobody

[2019-09-20 08:39] ykgarfield opened #37 "tubme master startup infinite blocked if the machine node IP changed"
**Problem description**
When I work in wired network, I config the `hostName` of `master.ini` to the wired network IP, then I switch network to wireless network, the IP is changed, then I reconfig the `hostName` to wireless network IP , start tubemq master, It will infinite blocked, the log only output util following line:

[code]

**(optional) Reproducer snippet**
Analysis and debug the source co

[2019-09-20 15:06] gosonzhang commented on #37
Thank you for your careful analysis. This is the first time we have met, let's take a look first. Thanks.

---------------------------

谢谢你细致的分析，这是第一次遇到，我们先看看，谢谢！

[2019-09-23 01:34] tisonkun opened #39 "Configuration file should not contain Chinese"
**Problem description**

https://github.com/Tencent/TubeMQ/blob/master/conf/broker.ini
https://github.com/Tencent/TubeMQ/blob/master/conf/master.ini

**(optional) Suggestions for an improvement**

better to translate Chinese comments to English.

[2019-09-23 01:38] tisonkun opened #40 "[question] String concatenation style"
Notice there are lots of string concatenations following style

[code]

which can be transferred to

[code]

I don't know the reason that we adopt the first style but it seems counter-intuitive.

CC @gosonzhang

[2019-09-23 01:57] gosonzhang commented on #40
To reduce the allocation and release of memory, some fragments are not done in the same way as below. It isn't a problem if the code location is not the main process.
[code]
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
减少内存的分配与释放, 部分片段如果没有按照如上同一的方式去做, 只要代码位置不是主干流程，问题不大

[2019-09-23 02:12] #40 closed, assigned to nobody

[2019-09-23 02:26] tisonkun commented on #40
@gosonzhang

Thanks for your explanation.

FYI https://www.jianshu.com/p/4518359da254 & https://dzone.com/articles/string-concatenation-performacne-improvement-in-ja

Maybe it is valid to replace `StringBuilder` usage above with string concatenation for readability in non-performance-sensitive scenario.

[2019-09-23 03:32] TeddiWolf opened #41 "编译期间遇到两个问题"
1，tubemq-core中protobuf必须是2.5.0版本，2.6.1都没有办法编译成功

[2019-09-23 03:32] #41 closed, assigned to nobody

[2019-09-23 03:34] TeddiWolf opened #42 "编译期间遇到两个问题"
1，protobuf必须是2.5.0，其它都不行。2，com.sleepycat.je中需要自己加个版本号才OK

[2019-09-23 03:37] tisonkun commented on #42
1. protobuf 2.5.0 is a prerequisite documented [here](https://github.com/Tencent/TubeMQ/blob/master/docs/tubemq_user_guide.md#prerequisites)

2. could you please share the error log?

[2019-09-23 09:55] guangxuCheng opened #44 "Build all modules with the same jdk version"
![image](https://user-images.githubusercontent.com/16833559/65416289-1b541a00-de2a-11e9-9e3b-cd2b1c5c9dd0.png)

Currently tubemq-server is built with JDK 8, but other module is built with JDK 7.

Maybe we should use the same JDK version for all modules.

If so, which one to use?

[2019-09-23 11:01] gosonzhang commented on #44
The client is based on 1.7 to avoid the business environment, java is not a high version, the server depends on the BDB requires 1.8 version of java

- - - - - - - - - - - - - - - - - - - - -  - - - - - - - -

客户端基于1.7避免业务环境的java不是高版本情况，服务端依赖的BDB要求1.8版本的java

[2019-09-23 12:17] gosonzhang commented on #39
see https://github.com/Tencent/TubeMQ/pull/43

[2019-09-23 12:17] #39 closed, assigned to nobody

[2019-09-24 01:50] klboke opened #46 "tubemq-server模块和tubemq-example模块下缺少打印到控制台的日志配置"
**Motivation**
系统日志框架使用的log4j，tubemq-server模块和tubemq-example模块下都没有log4j配置，开发调试时没有打印到控制台的日志非常不方便。当然这个不影响打包后的程序日志

**(optional) Design**
在tubemq-server模块和tubemq-example模块下新增log4j.properties的配置文件，配置日志打印到控制台
**(optional) Example snippet**
如：
[code]

[2019-09-24 02:03] tisonkun commented on #46
Thanks for your proposal. I think it is valid and helps on developing.

Two suggestions here.

1. Always include LICENSE header in new files.
2. Maybe it is better to set default to

[code]

and only turn on log locally for debugging.

[2019-09-24 06:25] #44 closed, assigned to nobody

[2019-09-24 07:10] tisonkun opened #48 "Potential instable test PartitionExtTest#testPartitionExtError"
**Problem description**

Failed tests:   testPartitionExtError(com.tencent.tubemq.client.consumer.PartitionExtTest): expected:<4096> but was:<4095>

**(optional) Reproducer snippet**

full log is [here](https://api.travis-ci.org/v3/job/588809075/log.txt)

[2019-09-24 07:10] tisonkun commented on #48
due to it occurs in a pull request travis build I mark it as potential but the pull request should not cause any test failure.

[2019-09-24 09:16] TeddiWolf opened #49 "How to config more than one master?"
How to config serveral master?  I didn't find anywhere mention it.

[2019-09-24 09:19] ykgarfield opened #50 "Improvement the exception type of MasterConfig throws"
**Motivation**
`MasterConfig`  load configs of  `master.ini`, parse and check.If has problems, almost of them throws `NullPointerException` or `IllegalArgumentException`.But in some cases, throw `NullPointerException` probably inappropriate.For example:

- code snippet 1:

[code]

- code snippet 2:
[code]

`IllegalArgumentException` may more reasonable or use cusutom exception(for example: `Config

[2019-09-24 14:23] gosonzhang commented on #49
This part has been removed and I will provide it to you tomorrow.

- - - - - -  -
该部分内容被去掉了,明天我提供给你

[2019-09-24 14:51] gosonzhang commented on #46
see https://github.com/Tencent/TubeMQ/pull/47 discusses

[2019-09-24 14:52] #46 closed, assigned to nobody

[2019-09-24 14:55] gosonzhang commented on #50
@ykgarfield, this is a question. Can you contribute a PR?

[2019-09-25 02:12] gosonzhang commented on #49
see https://github.com/Tencent/TubeMQ/blob/master/docs/tubemq_user_guide_cn.doc

[2019-09-25 02:21] #49 closed, assigned to nobody

[2019-09-25 06:13] #42 closed, assigned to nobody

[2019-09-25 06:40] klboke commented on #46
I know that the log configuration under conf can be loaded by -Dlog4j.configuration, but this does not solve my problem. At first, I did this. Then I found that the configuration log under conf was not printed to the console, but was written to the specified file. I think in development mode, I don’t expect to go to the log file every time. Looking for log information, it is more desirable to see

[2019-09-25 09:30] #27 closed, assigned to nobody

[2019-09-25 09:31] #18 closed, assigned to nobody

[2019-09-25 09:39] gosonzhang commented on #37
It is speculated from the problem phenomenon that the modification of the same machine IP changes the group node information stored in the BDB, so that bdb mistakenly believes that there are multiple nodes, waiting for other nodes to wait for information, thus causing an exception. Try to avoid this single machine switching IP situation, we use multi-node master is distributed on different physica

[2019-09-25 11:13] gosonzhang commented on #12
see https://github.com/Tencent/TubeMQ/pull/22 and https://github.com/Tencent/TubeMQ/pull/28

[2019-09-25 11:13] #12 closed, assigned to nobody

[2019-09-25 11:14] #3 closed, assigned to nobody

[2019-09-25 11:17] gosonzhang commented on #5
We will gradually improve the documentation, if there are any imperfections or missing places, welcome to contribute.

- - - -

我们会逐步完善文档，如果有不完善或者缺失的地方，欢迎贡献.

[2019-09-25 11:17] #5 closed, assigned to nobody

[2019-09-25 11:37] gosonzhang commented on #50
see https://github.com/Tencent/TubeMQ/pull/53

[2019-09-25 11:55] gosonzhang commented on #48
PartitionExt.procConsumeResult() returns a dynamic wait time. The limitDlt passed in setPullTempData() is only an initial value. The wait time obtained by the condition calculation is subtracted from the calculated loss result. If the test case execution process is not continuous. It is not necessarily equal to the initial value, so the setting and the return result are inconsistent. The test case

[2019-09-25 12:12] gosonzhang commented on #50
Thanks @ykgarfield

[2019-09-25 12:12] #50 closed, assigned to nobody

[2019-09-25 12:13] gosonzhang commented on #48
Thanks @TisonKun

[2019-09-25 12:13] #48 closed, assigned to nobody

[2019-09-25 14:48] ahmetcetin opened #54 "[question] license missing"
I couldn't see license.md gile in the repo. What is the license?

[2019-09-25 14:56] tisonkun commented on #54
TubeMQ is licensed under Apache License Version 2.0. You can find the [LICENSE](https://github.com/Tencent/TubeMQ/blob/master/LICENSE) file at root path of repo.

[2019-09-26 07:48] gosonzhang commented on #37
@ykgarfield, I think you should have this problem with this operation:

Your test machine with 2 IPs: **a**, **b**: the first configuration: **hostName** is **a**, **bdbHelperHost** is **a**: 9001, the startup is successful; the second configuration: **hostName** is **b**, but **bdbHelperHost** is still **a**: 9001, then the log report ADD HELP HOST.

You need change **bdbHelperHost** value from *

[2019-09-26 08:28] aloyszhang commented on #37
@ykgarfield
Thanks for your test and report .
This problem was caused by Oracle Berkeley BD Java Edition(BDB-JE) are not configured correctly.
Brief description this , BDB-JE can provide an replication environment among serveral nodes. When these nodes are started for the first time, they  communicate with each other by the ip and port configured by the `bdbHelperHost` in master.ini.  The first no

[2019-09-26 09:12] ykgarfield commented on #37
@aloyszhang @gosonzhang  Yes, It's better to do this.But sometimes, we may foreget to change the configuration or unaware of it.At this moment, it's may hard to troubleshoot.It's should mention this in the document to remind users?

[2019-09-26 09:16] gosonzhang commented on #37
@ykgarfield，you are right, we should elaborate on these details in the manual.

[2019-09-29 02:10] tisonkun commented on #54
Please reopen if you have any other concern :-)

[2019-09-29 02:10] #54 closed, assigned to nobody

[2019-09-29 02:11] tisonkun commented on #16
resolved via 914a7e17176ee411ce974dfecf64aea51af1798d

[2019-09-29 02:11] #16 closed, assigned to nobody

[2019-09-29 10:03] kexianjun opened #57 "Is there more detailed document to explain how to use TueMQ and how it works ?"

[2019-09-30 15:40] tisonkun commented on #57
Hi @kexianjun , most of documentation of TubeMQ is under [this directory](https://github.com/Tencent/TubeMQ/tree/master/docs).

We keep working on documentation side and you can request any changes when you find it is worth to be changed in documentation.

[2019-10-02 08:16] liangyuanpeng opened #59 "[doc] maybe quickstart need more message"
Thank you for your work about TubeMQ and open source,It is awsome

I have try to run
``
sh master.sh start
``

But i just got some error:
[code]

More detail

[code]

It would be great if quickstart  document could be improved

[2019-10-02 08:23] liangyuanpeng commented on #24
@TisonKun
Sounds great ! I'm looking forward to it !

[2019-10-02 08:28] tisonkun commented on #59
Thanks for reporting this issue @liangyuanpeng !

@gosonzhang is there any information we miss here?

[2019-10-07 08:04] JunpingDu opened #60 "Some issues need to fix with tubemq_user_guide"
**Problem description**
Some description of user guide need to be fixed, such as: grammar or expression.

**(optional) Reproducer snippet**

**(optional) Suggestions for an improvement**

[2019-10-07 23:56] gosonzhang commented on #59
Hi  @liangyuanpeng, this problem should be that the actual location configuration of resource is not set up properly:

1. conf/master.ini needs to specify the actual location of resource in the webResourcePath parameter;
2. The resource.loader.path parameter of resource configuration file resources/velocity.properties needs to specify the actual loading path of the page.

See tubemq_user_guide for

[2019-10-07 23:57] #37 closed, assigned to nobody

[2019-10-08 00:38] tisonkun commented on #60
closed via #61

[2019-10-08 00:38] #60 closed, assigned to nobody

[2019-10-08 09:27] gosonzhang opened #66 "Add source comments to reference code files"
In the TubeMQ project, some code files are copied or modified from other projects, we need to add source comments to these code files.

[2019-10-08 11:45] #59 closed, assigned to nobody

[2019-10-09 09:07] #66 closed, assigned to nobody

[2019-10-09 09:42] tisonkun opened #69 "Replace sun.misc.BASE64Encoder with java.util.Base64"
Currently, we use internal class `sun.misc.BASE64Encoder` inside `com.tencent.tubemq.server.broker.BrokerServiceServer`. This class cannot be accessed anymore since Java 11. Although we might not have a upgrade plan in the near future, we can safely do the replacement following the [existing solution](https://bugs.openjdk.java.net/browse/JDK-8097121) in JDK community.

[2019-10-09 14:57] tisonkun commented on #69
defer until we have a plan to upgrade to Java 11

please do not close this issue since it is valid anyway.

[2019-10-10 02:05] gosonzhang commented on #69
It is better to make the base64 encoding into a utils class.

[2019-10-10 02:16] tisonkun commented on #69
@gosonzhang do you mean we implement a TubeMQ scope Base64 encoder?

[2019-10-11 02:10] gosonzhang opened #73 "How does TubeMQ support the use of the Java 7 environment?"
Considering that the business environment using TubeMQ is java 7 and does not allow upgrades, it's a better support method to adjust the je version to a lower version than 7.3.7, such as 6.1.5.

- - - - -

考虑到使用TubeMQ的商业环境是Java 7，并且不允许升级情况，如果业务需要使用TubeMQ,将je版本调整为低于7.3.7（例如6.1.5）的版本是一种比较好的支持方法。

[2019-10-11 02:10] gosonzhang commented on #73
see https://github.com/Tencent/TubeMQ/pull/72

[2019-10-11 02:23] gosonzhang opened #74 "qryPriorityId value is inconsistent with the definition relationship"
In the flow control rule setting, the interface document prompts qryPriorityId to be a composite structure, the type is A0B, and the default value of the field is 301. However, if the url does not carry this field, the default value of the interface is 0.

<table><tr><td bgcolor=Silver>{"result":true,"errCode":0,"errMsg":"OK","data":[{"type":"BdbGroupFlowCtrlEntity","groupName":"test1","statusId":

[2019-10-11 03:20] #74 closed, assigned to nobody

[2019-10-11 06:48] aloyszhang opened #76 "Add description for configuration for Berkeley DB Java Edition"
**Currently, there is no description for BDB-JE configuration in `master.ini` . We should add these information.**

[2019-10-11 06:50] tisonkun commented on #76
Thanks for reporting this issue. Would you like to work on enriching the information?

[2019-10-11 07:56] #76 closed, assigned to aloyszhang

[2019-10-11 09:16] aloyszhang opened #78 "Improvement `BdbGroupAdmin` class"
`BdbGroupAdmin`  is used to remove node in replication group.
Currently, `BdbGroupAdmin` does't handle the exception and missing the necessary message about the remove process. I think we should:

1. print the node information before and after remove node
2. catch and handler the exception separately, then print some readable information

What do you think @gosonzhang ?

[2019-10-11 09:24] gosonzhang commented on #78
Very good advice, can you contribute a PR?

[2019-10-11 09:53] aloyszhang commented on #78
@gosonzhang I have open a PR[ here](https://github.com/Tencent/TubeMQ/pull/79)

[2019-10-11 11:39] #78 closed, assigned to aloyszhang

[2019-10-13 15:47] liangyuanpeng commented on #59
yes,you are right, just change all param of resource and run. Thanks!

[2019-10-14 08:56] aloyszhang opened #82 "Remove redundant exception information log print and amend LOG level bug"
Currently ,there are some redundant exception information print like :
[code]
And, some LOG level error like :
[code]

[2019-10-14 08:59] gosonzhang commented on #82
These are really places that needs to be aligned and modified. Can you mention a pr to see the specific modification point?

[2019-10-14 09:10] tisonkun commented on #82
Thanks for reporting this issue. In my opinion

1.

[code]

we might be able to reduce `e.printStackTrace()` because stack trace is already logged by logger. The subtle difference is that `e.printStackTrace()` print stack trace in STDOUT. @gosonzhang please check whether our users rely on STDOUT output.

2.

[code]

though usually we log exception in debug/warn/error level, `Logger#info` can also

[2019-10-14 09:41] aloyszhang commented on #82
@TisonKun Thanks for you reply.
 I agree with that `Logger#info` can also log exception as other level does.
 However , these several places of  `Logger#info` means some error when loading master meta data from  BDB `StoreUnit`.
So I think use  `Logger#error` is the better way.

[2019-10-14 09:48] tisonkun commented on #82
Thanks for your explanation @aloyszhang ! Good contribution :-)

[2019-10-14 09:51] aloyszhang opened #84 "Useless `main` method in subclass of Action"
I found some `main` method just sleep 100000000ms in a new thread in some subClass of `Action`,
[code]
It seems useless. and I think wo can remove these code. What do think about it ?
 @gosonzhang

[2019-10-14 09:54] tisonkun commented on #84
Make sense to me. Also I'm curious the history why we introduce such code snippets.

[2019-10-14 10:47] gosonzhang commented on #84
This should be used for unit testing a long time ago, not removed.

Can you fix it？

[2019-10-14 10:48] #82 closed, assigned to nobody

[2019-10-14 11:11] aloyszhang commented on #84
@gosonzhang ok, I'll contribute a PR.

[2019-10-14 11:12] gosonzhang commented on #84
thanks

[2019-10-14 11:19] #84 closed, assigned to aloyszhang

[2019-10-16 02:04] gosonzhang opened #86 "Align string connection processing method"
Handling partially inconsistent string concatenation processing codes: Most of the string concatenation processing in TubeMQ uses the StringBuilder.append() method to concatenate strings, avoiding the use of the "+" operator,  but some code uses both StringBuilder.append() Use the "+" operator，for example in BaseMessageConsumer.java ：

[code]

[2019-10-16 02:57] #86 closed, assigned to nobody

[2019-10-18 09:55] aloyszhang opened #89 "redundancy encoding when loading meta-data from BDB-JE"
There are some redundancy encoding when loading meta-data from BDB-JE like this :
[code]
I think we can make some condense about this.
@gosonzhang

[2019-10-19 02:11] gosonzhang commented on #89
Yes, these codes are more concise after this modification, thank you!

[2019-10-19 02:11] #89 closed, assigned to nobody

[2019-10-22 11:08] gosonzhang commented on #69
see https://github.com/Tencent/TubeMQ/pull/91

[2019-10-22 11:08] #69 closed, assigned to tisonkun

[2019-10-28 02:28] Libeibei1990 opened #93 "Broker重新注册到Master的时间较长，容易使服务不能尽快恢复。"
建议维持原有心跳周期，或者一定要做降频处理的话，这个时长为2个而不是10个的心跳周期的间隔比较好。

[2019-10-28 02:43] tisonkun commented on #93
Could you describe where the issue is such as pasting a code snippet?

[2019-10-28 07:03] gosonzhang commented on #93
@Libeibei1990 , I understand that you are talking about TubeBroker.java as follows: this.scheduledExecutorService.scheduleAtFixedRate code implementation part
[code]
The initial consideration is that network anomalies should be restored quickly. If non-network anomalies persist for a long time, it is a good measure to reduce the frequency of broker attempts. However, waiting too long is not conduc

[2019-10-28 07:08] gosonzhang commented on #73
@TisonKun I found that in the jdk 1.7 environment, compiling the entire project will report the following error, can help to see how to deal with it?
- - - - - - - - - - - -
我发现在jdk 1.7环境，编译整个工程会报如下这个错误，能帮忙看看怎么处理吗？

[code]

[2019-10-28 07:19] #73 closed, assigned to nobody

[2019-10-28 11:35] #93 closed, assigned to nobody

[2019-10-29 06:28] tisonkun opened #97 "Downgrade minimum jdk version to jdk7"
ref #73

After an investigation we notice that je 7.3.7 doesn't require jdk8 so that for being compatible with jdk7 I propose

1. configure maven-compiler-plugin in tubemq-server using jdk7
2. downgrade travis environment to use openjdk7
3. correspondingly update documentation

[2019-10-29 06:30] gosonzhang commented on #97
LGTM +1

[2019-10-29 07:14] tisonkun commented on #97
The documentation already mentions "Java 7 or Java 8", I think it correctly reflects our requirement.

Close this issue as resolved.

[2019-10-29 07:14] #97 closed, assigned to nobody

[2019-10-29 12:12] Libeibei1990 opened #99 "Tubemq client throws an exception when stopping the consumer."
java.lang.InterruptedException: sleep Interrupted
        at java.lang.Thread.sleep(Native Method)
        at com.tencent.tubemq.corebase.utils.ThreadUtils.sleep(ThreadUtils.java:128)
        at com.tencent.tubemq.client.consumer.RmtDataCache.pushSelect(RmtDataCache.java:241)
        at com.tencent.tubemq.client.consumer.BaseMessageConsumer.pushSelectPartition(BaseMessageConsumer.java:713)

[2019-10-29 12:29] gosonzhang commented on #99
Ok, I get it now, thanks！

[2019-10-30 09:50] aloyszhang opened #101 "RPC problem"
I found some confusing code in `NettyClient#call`.
[code]
when channel is null, it'll continue run the following code. It seems meaningless since
client can't send request when channel is null.  I think maybe throw a `RuntimeExcetion` indicate channel is null is a better way.

Another problem here, currently, when send message asynchronously, it will build a `Timeout` after write data to channel.

[2019-10-30 10:53] aloyszhang commented on #101
@gosonzhang

[2019-10-30 12:10] #99 closed, assigned to nobody

[2019-10-30 12:12] gosonzhang commented on #101
Thanks, @aloyszhang, can you contribute a PR to this question?

[2019-10-31 07:49] #101 closed, assigned to nobody

[2019-10-31 08:13] Libeibei1990 opened #103 "TubeMQ consumers configure the wrong standby masterIP and set it to the first，consumers will throw exceptions."
TubeMQ consumers configure the wrong standby masterIP and set it to the first，consumers will throw exceptions. And then，consumers re-register successfully after 5min.

The reason for this problem is because consumers don‘t poll connection list if the connection times out.

[ERROR] [BaseMessageConsumer]  Register to master failed.
java.util.concurrent.TimeoutException
        at com.tencent.tubemq.

[2019-10-31 08:21] gosonzhang commented on #103
Thank you, you are right. When the request to the Master is abnormal, it need to try to poll other nodes, so that the client can quickly connect to the active node.

[2019-11-04 09:08] aloyszhang opened #109 "unseemly log print"
I found some code abount log printing like :
[code]
I think it's not a good way to ouput log because code like  `responseB2C.getErrMsg()` will execute first even `logger`  level is above debug(INFO,WARN etc.)

[2019-11-04 09:19] gosonzhang commented on #109
What do you mean: The current implementation will make strBuffer perform string concatenation first, even if the debug does not print, but will not achieve the goal of reducing CPU consumption.
Is there a similar introduction document for this question?

- - - - - - - - - - - -
你的意思是否为:  当前实现会使得即使debug不打印,strBuffer也会先进行字符串拼接,反而达不到减少CPU消耗的目标
这个问题有类似的介绍文档吗?

[2019-11-04 09:29] aloyszhang commented on #109
Yes, detail information you can find in [SLF4JFAQ](http://www.slf4j.org/faq.html#logging_performance) and [BestPractices](https://wiki.opendaylight.org/view/BestPractices/Logging_Best_Practices)

[2019-11-04 12:13] gosonzhang commented on #109
I will learn first, thank you very much!

[2019-11-05 01:14] gosonzhang commented on #109
It's true, and there are problems in the section of the debug log print of TubeMQ, I will mention the PR modification, thank you! @aloyszhang

[2019-11-05 01:56] gosonzhang commented on #57
@TisonKun , I think this classmate is correct. We need to look at this issue again, such as the organization of our documents, the content of the documents, and then we need to discuss and deal with them according to external norms.

- - - - - - - - -- - - -
@TisonKun ,我觉得这个同学提的是对的，这个问题我们需要再看看，比如我们文档的组织形式，文档的内容这些，接下来我们需要讨论下并且按照外界规范的方式进行处理

[2019-11-05 07:16] #103 closed, assigned to nobody

[2019-11-05 09:06] #109 closed, assigned to nobody

[2019-11-07 01:47] dbit-xia opened #114 "Does it support the AMQP protocol?"
Does it support the AMQP protocol?
can be applied to a variety of development languages.

[2019-11-08 01:58] gosonzhang commented on #114
@dbit-xia ,thank you for your attention, TubeMQ does not support the AMQP protocol. It is based on the Topic-based Publish/Subscribe (P/S) model, it is similar to the Kafka interface and easy to using in big data scenarios. We accept other protocols or MQ clients through Proxy transit.

- - - - - - - - - - - - - -- -
TubeMQ不支持AMQP协议。 它采用的是基于Topic的发布/订阅（P / S）模型，类似于Kafka接口，便于在大数据场景中使用。 我们通过代理传输接受其他

[2019-11-08 03:29] lizhiboo opened #115 "Broker conf's attribute 'brokerTLSPort' is not effective by using webapi."
**Problem description**
add broker conf to Master by using webapi. broker conf's attribute 'brokerTLSPort' is 18124. Client sdk still connect to the default 'brokerTLSPort' 8124.
**(optional) Reproducer snippet**

**(optional) Suggestions for an improvement**

[2019-11-08 03:34] gosonzhang commented on #115
You're right, can you contribute a PR? @lizhiboo

[2019-11-08 12:10] #115 closed, assigned to nobody

[2019-11-10 17:48] tisonkun opened #117 "[PROPOSAL] TubeMQ Document Site"
**Motivation**

Currently TubeMQ project hosts its documentation under docs/ folder, which contains previously internal materials. This issue is towards adding a minimum viable prototype of the document site that hosts TubeMQ document and a formal structure to manipulate TubeMQ documents.

**Design**

Here is [the design document](https://docs.google.com/document/d/1Gmt9AOWDZm02MOZVQZCFHIzQzKuIwEF

[2019-11-12 05:56] zehuaiWANG opened #120 "Error when I use mvn compile"
Failed to execute goal com.github.igor-petruk.protobuf:protobuf-maven-plugin:0.6.3:run (default) on project tubemq-core: Protobuf installation version does not match Protobuf library version

I think it should be a general protobuf. And it's better to use proboful 3.0.

[2019-11-12 06:03] zehuaiWANG commented on #120
the same as issue #1

[2019-11-12 06:14] gosonzhang commented on #120
Using 2.5.0 mainly is compatible with most business environments. If you can make a way to not configure the local environment, it is definitely the best. Can you contribute a PR?

[2019-11-12 07:17] zehuaiWANG commented on #120
@gosonzhang @TisonKun It seems that tison has fixed the issue in pr #121, I has verified it and it looks well in my pc.  Thank you all~

[2019-11-12 12:32] gosonzhang commented on #120
I found a problem: tubemq-core compilation because this modification needs to compile for 10 minutes, this is not very good for users, and network exceptions can easily lead to project compilation failure.

[2019-11-12 13:24] zehuaiWANG commented on #120
Do you mean that auto downloading will lead to the increase of compilation time? Yes, but he doesn't mean that there will be errors. In my opinion, compilation failure due to network problems is inevitable, but problems caused by version conflicts will make users more confused. I think it can be explained in the document that this compilation needs a good network environment and provides a way for

[2019-11-12 13:49] gosonzhang commented on #120
Can there be a good way to solve this problem? Users can download the specified version of protobuf through configuration, or get the dependent package directly from the local without downloading?
The main problem of protobuf is to be compatible with the internal system

- - - - - - - - - - - - - - - - - - -
能否有一個好的方法來解決這個問題,用戶可以通過配置,允許通過網絡下載指定版本的protobuf,或者不用下載,直接從本地獲取該依賴包?

protobuf版本的問題,主要是兼容内部

[2019-11-12 14:31] tisonkun commented on #120
@gosonzhang you are able to use local `protoc` executable as described [here](https://www.xolstice.org/protobuf-maven-plugin/usage.html)

![image](https://user-images.githubusercontent.com/18818196/68680187-332f5b00-059c-11ea-9151-ba765fc61470.png)

[2019-11-12 14:33] tisonkun commented on #120
And I think it is only require downloading at the very first time.

---

第一次执行 mvn install 之后本地就有对应的 protoc exe 了，不是每次编译都需要下载。使用本地的 exe 的方法见上。

[2019-11-12 23:16] gosonzhang opened #123 "Comb the use points of isBlank() function to reduce unnecessary checks"
see https://github.com/Tencent/TubeMQ/pull/122

After I think about it, this PR reminds me that if the content of a string has been checked by isBlank() and the string still exists in memory, the next step is to do null judgment processing, which should only be isEmpty(), so as to improve the overall processing performance.

Next, I will comb the call points of the isBlank() function, and check th

[2019-11-12 23:24] gosonzhang commented on #120
Thanks @TisonKun , I'll check again to see if there are any other questions

[2019-11-13 02:38] Libeibei1990 opened #124 "After the default flow control, add consumer group level flow control，consumer group level flow control does not take effect."
【Steps】：
1. Add default flow control；
2. Start production and consumption；
3. Add consumer group level flow control；

We found that consumers did not consume according to the consumer group level flow control.

[2019-11-13 02:50] Libeibei1990 opened #125 "Broker is slower than the consumer's VisitAuthorizedToken update，the consumer will continue to warn the failure of certificate."
If broker is slower than the consumer's VisitAuthorizedToken update，the consumer will continue to warn the failure of certificate.

[BaseMessageConsumer]  [heart2broker error] certificate failure, BrokerID:BrokerIP:BrokerPort's partitions ared released, Visit Authorized Token is invalid!

[2019-11-13 02:57] gosonzhang commented on #124
Ok, I get it, thanks

[2019-11-13 03:26] gosonzhang commented on #125
This happens when the client pulls the visitToken faster than the broker, I will mention a PR to modify the problem.

thanks

[2019-11-13 04:25] #124 closed, assigned to nobody

[2019-11-13 05:06] #125 closed, assigned to nobody

[2019-11-15 12:09] gosonzhang opened #134 "Can tubemq support the compatibility of Kafka interface?"
Can tubemq support the compatibility of Kafka interface?

If tubemq can support Kafka native interface, will it reduce the cost of business migration if you are willing to use tubemq? For example, if the business only needs to modify the package dependency, change the corresponding parameter configuration value, interface call name, and call form, will the potential business be more inclined to tr

[2019-11-18 07:32] JunpingDu commented on #134
+1. This sounds like a very useful feature for MQ users to switch between TubeMQ and Kafka.

[2019-11-22 06:38] wangyughost opened #135 "com.tencent.tubemq.corebase.protobuf.generated.ClientMaster"
这个是什么类？ 项目里面没有无法编译，怎么解决

[2019-11-22 06:39] wangyughost commented on #135
com.tencent.tubemq.corebase.protobuf.generated.ClientMaster
这个是什么类？ 项目里面没有无法编译，怎么解决

[2019-11-22 06:41] gosonzhang commented on #135
Need to do PB compilation,  please refer to the compiled documentation in docs

[2019-11-22 14:07] gosonzhang commented on #135
see https://github.com/Tencent/TubeMQ/blob/master/docs/tubemq_user_guide.md or https://github.com/Tencent/TubeMQ/blob/master/docs/tubemq_user_guide_cn.doc

I'll close issue @wangyughost .

[2019-11-22 14:07] #135 closed, assigned to nobody

[2019-11-27 03:07] Libeibei1990 opened #137 "Shielding abnormal broker should not be limited to IOException, any exception in the writing process should be managed."
Shielding abnormal broker should not be limited to IOException, any exception in the writing process should be managed.
For example, modify writing path permission which will affect data writing directly.

[https://github.com/Tencent/TubeMQ/blob/master/tubemq-server/src/main/java/com/tencent/tubemq/server/broker/msgstore/disk/MsgFileStore.java](url)

catch (**final IOException e**) {
            S

[2019-11-27 03:10] gosonzhang commented on #137
Thanks, I'll check it and fix it.

[2019-11-27 04:38] Libeibei1990 opened #138 "IOException occurs in the broker and the number of abnormal brokers exceeded blocking threshold which will affect data writing. Unfortunately, consumers will timeout constantly."
IOException occurs in the broker and the number of abnormal brokers exceeded blocking threshold which will affect data writing. Unfortunately, consumers will timeout constantly.

Broker's internal exception handling caused problems that affect consumption. Consumers should be able to register to the abnormal broker under normal circumstance.

[2019-11-27 06:20] #137 closed, assigned to nobody

[2019-11-27 09:37] gosonzhang commented on #138
Thanks, I'll fix it

[2019-11-27 09:42] gosonzhang commented on #138
There is a need to improve the processing logic: if an abnormal disk situation is encountered, during the judgment of the Master, the production and consumer sides should suspend processing of the Broker node, because subsequent production will be rejected by the Broker, so it is necessary to shield the abnormal Broker on the client.

- - - - - - - - - -
这里有一个处理逻辑需要完善：如果遇到磁盘异常情况，在Master进行判断的过程中，生产

[2019-11-28 07:35] #138 closed, assigned to nobody

[2019-11-28 08:12] ylfu opened #141 "I strongly suggest some command-line tools like kafka command-line tools"
As we mainly develop on linux envirment , it is  crucial to use command-line tools to read and write TubeMQ just like kafka command-line tools not only by c++ and go apis。

By the way we need python api or sdk as well, because for algorithm engineers or data scientists, python is their primary programming language and it is quite common for  they manipulating TubeMQ data by themselves

[2019-11-28 08:15] gosonzhang commented on #141
Thanks @ylfu , can you contribute a PR to TubeMQ?

[2019-11-28 08:32] gosonzhang commented on #134
Investigated the internal use of the company. Most of us use Kafka based on 0.10.x, 0.11.x versions. I plan to provide clients compatible with this version.

- - - - - - - - -
调查了下公司内部使用的情况，我们业务大部分使用的是基于0.10.x,0.11.x版本的Kafka，我计划提供兼容这类版本的客户端。

[2019-11-28 14:08] #114 closed, assigned to nobody

[2019-12-05 07:16] wf123537200 opened #144 "Should we refactor the front-end console page because it is too old, both in terms of technology and architecture"
As the title，Anyone join me and do something big together?

[2019-12-05 08:19] JunpingDu commented on #144
+1. Although I am not front-end expert, but really like to see something "big" happens here. :)

[2019-12-05 12:12] gosonzhang commented on #144
+1. It would be great.The current page is something from many years ago, many new features are not reflected in the page, so we can only use new functions through the APIs.

[2019-12-06 06:27] Libeibei1990 opened #145 "If the broker was blocked, it can't be restored to the disabled state after restarting the master."

[2019-12-06 07:20] gosonzhang commented on #145
Thanks，I‘ll check it

[2019-12-06 10:04] gosonzhang commented on #145
Master encountered some problems while processing Broker's disk IO exception report: if Master restarts and memory data is lost, related information will be lost and will not be recovered; then, if the number of failed Brokers exceeds the number allowed by the blocking policy , They will not be blocked all, but unblocked Brokers do not mean that there are no exceptions, these Brokers should be que

[2019-12-09 01:57] #145 closed, assigned to nobody

[2019-12-10 02:24] dongxuwang opened #147 "Inconsistency in the default conf and docs"
**Problem description**

It'd be better to keep the consistency of the default conf and docs, take webPort for example:

In conf/master.ini | In tubemq_user_guide.md
------------------|------------------------
8080 | 8088

**(optional) Reproducer snippet**

**(optional) Suggestions for an improvement**

Make both the default conf and user_guide consistent.

[2019-12-10 02:50] gosonzhang commented on #147
Yes, it is Inconsistency in the default conf and docs. This problem is what you found, and can you mention a PR modification and let this system record your discovery and contribution?
- - - - -
是的，确实不一致。你发现了这个问题，所以能否提一个PR修改下，让这个系统留下你的发现和贡献？

[2019-12-10 07:09] #147 closed, assigned to nobody

[2019-12-16 07:24] dockerzhang opened #150 "TubeMQ web show Chinese garbled"
TubeMQ web show Chinese garbled, it' like

![image](https://user-images.githubusercontent.com/18047329/70887132-10b7b400-2018-11ea-978d-8d5db3bc73aa.png)

[2019-12-16 13:12] #150 closed, assigned to nobody

[2019-12-17 02:26] gosonzhang commented on #150
Thanks @dockerzhang

[2019-12-17 15:09] gosonzhang opened #153 "Can you support TubeMQ, provide SDKs in various languages, or maintenance tools?"
As for SDK, at present, the language skills our team mastered are only limited to Java and C++, and the short and medium-term efforts will be devoted to the core processing flow improvement, so it's very hard to rely on the existing team to support the use of other languages in a short time. Are you interested in helping TubeMQ project in the field you are good at, providing SDK of corresponding l

[2020-01-03 06:23] ghost commented on #153
Yes, we can. I have some tips for build a community drive development progress.
1. Release specification document every version. the source code change should respect the specification document.【See the Java Specification Document]
2. Create a [RFC->Vote->Implment->Merged in] progress, If not pass the RFC progress, it should not change or add it in.
3. Try not break the API , more compact required

[2020-01-03 06:26] ghost commented on #117
Sphinx require python toolset, I suggest one more lightweight document tools:

https://docsify.js.org/#/

It only render markdown as document, No need npm, no need install tools.
You can write a html page, then include a small javascript file, all things done.
You can write markdown, the javascript will render it as document.

[2020-01-03 07:00] gosonzhang commented on #153
Thank you very much for your attention and support, thank you!

The project is still in the process of migrating to the Apache community，it's estimated that the project will be completed recently, and then it will be operated according to the Apache rules; the launch of the issue is to first raise a demand for this aspect in the way of GitHub, and look for partners with this willingness to pay att

[2020-01-03 08:06] gosonzhang commented on #153
@netroby,  you can add your content in https://issues.apache.org/jira/browse/TUBEMQ-2#

[2020-01-03 10:22] ghost commented on #153
I will keep watching TubeMQ, I am also good at PHP, Golang, Python, Rust, Scala, Java. Will see how can i  continue contribute.
But my free time very limited. due to chinese company high workload.

[2020-01-04 08:18] tensorchen commented on #153
@gosonzhang

I would be happy to provide the Go language SDK。Today at the Shenzhen gohper meetup conference, I shared go performance optimization practices。
I am very experienced in the field of go language development and performance optimization。

How to contribute to TubeMQ？

[2020-01-04 08:40] gosonzhang commented on #153
Thanks @tensorchen ,It would be great if we could implement the producer and consumer client based on the protocol https://github.com/Tencent/TubeMQ/tree/master/tubemq-core/src/main/protobuf.

I am also writing a C ++ client, and I will consider putting the various language clients based on the needs to be implemented under the tubemq-client-twins directory of the main directory for management to

[2020-01-04 09:13] tensorchen commented on #153
I suggest that only one language SDK be placed in a repository. Placing the SDK in the same repository will result in the cost of downloading other language code for developers who only need to use the Go SDK.

Another suggestion is to name the repository in lowercase

For example:

github.com/Tencent/TubeMQ core library repo
github.com/Tencent/tubemq-go go client repo
github.com/Tencent/tubemq-cp

[2020-05-18 10:26] hanmz opened #155 "Why copy file to SSD"
May I ask why copy file to SSD when consume message？

[2020-05-18 10:32] gosonzhang commented on #155
This scenario is used when the consumption is seriously lagging: at this time, the consumption needs to be transferred to another storage for processing, which is equivalent to the concurrent read and write processing of multiple storage blocks, but the actual application process found that the capacity of the SSD disk is too small, so the effect is limited.&nbsp;

The function will be removed in

[2020-06-11 11:32] nicklbx commented on #9
可以参考其他消息系统，新增一个生产者配置，设定级别，由使用者应用开发选择，比如针对准确性要求不高的可以异步或同步一个副本，针对金融对账等场景同步所有副本，在吞吐量和可靠性上做一些权衡处理

[2020-06-11 11:35] gosonzhang commented on #9
嗯，是的，计划是这样的，通过配置来决定数据的可靠性级别。

我们的系统迁移到了https://github.com/apache/incubator-tubemq，可以来这里查看最新的内容

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"hanmz"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月11日(星期四) 晚上7:33
收件人:&nbsp;"Tencent/TubeMQ"<TubeMQ@noreply.github.com&gt;;
抄送:&nbsp;"gosonzhang"<4675739@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [Tencent/TubeMQ

[2020-06-17 06:17] imarch1 opened #157 "TubeMQ connector for spark"
To facilitate the use of TubeMQ in spark, I'd like to contribute the TubeMQ connector for spark.

[2020-06-17 06:34] gosonzhang commented on #157
Thank you very much for your contribution!

This project has been moved to the name of apache:https://github.com/apache/incubator-tubemq,
and you can provide your content items through Jira: https://issues.apache.org/jira/projects/TUBEMQ/issues

[2020-06-19 07:17] Mcliuyi commented on #144
还有机会参加吗

[2020-06-19 07:21] gosonzhang commented on #144
If you want, you can join the TubeMQ project anytime, anywhere, see: https://tubemq.apache.org/en-us/docs/contact.html

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"hanmz"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月19日(星期五) 下午3:17
收件人:&nbsp;"Tencent/TubeMQ"<TubeMQ@noreply.github.com&gt;;
抄送:&nbsp;"gosonzhang"<4675739@qq.com&gt;;"Comment"<comment@noreply.github.com&gt;;
主题:&

[2020-06-19 07:39] Mcliuyi commented on #144
好的，谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"gosonzhang"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月19日(星期五) 下午3:21
收件人:&nbsp;"Tencent/TubeMQ"<TubeMQ@noreply.github.com&gt;;
抄送:&nbsp;"刘义"<ly288@qq.com&gt;;"Comment"<comment@noreply.github.com&gt;;
主题:&nbsp;Re: [Tencent/TubeMQ]  Should we refactor the front-end console page because it is too old, both in terms of techn

[2020-06-22 01:43] wf123537200 commented on #144
of cause，the rebuild code is commit at the ```new-web-client``` branch.
welcome join us to build the better client.

can add my wechat ```zak-wf``` for discuss.

[2020-11-19 07:09] QiAnXinCodeSafe opened #158 "There is a vulnerability in fastjson 1.2.60,upgrade recommended"
https://github.com/Tencent/TubeMQ/blob/dc64162c0ffc07805f619f17c45c9d387134172a/pom.xml#L248-L250

CVE-2020-8840

Recommended upgrade version：1.2.61.sec10

[2020-11-19 07:34] QiAnXinCodeSafe opened #159 "There is a vulnerability in netty 3.8.0.Final,upgrade recommended"
https://github.com/Tencent/TubeMQ/blob/dc64162c0ffc07805f619f17c45c9d387134172a/pom.xml#L223-L225

CVE-2019-20444  CVE-2019-20445  CVE-2019-16869

Recommended upgrade version：4.1.51.Final

[2020-11-26 00:22] ZoranNik91 commented on #69
I have the same error in the build: sun/misc/BASE64Encoder.
So you guys recommended replacing java.util.Base64.
How do I do this in Eclipse, just adding a jar file library in the build path of the project, or is there more job to do?
I'm new to Eclipse...

[2020-11-26 02:15] gosonzhang commented on #69
Hi,

Thanks for your attention first!&nbsp;

The tencent/tubemq is only an archive of the open source, and the latest version of TubeMQ is already on the Apache incubation project.&nbsp;

You can refer to the code in the https://github.com/apache/incubator-tubemq directory. Version 0.7.0 is currently being released. It is recommended to use this Best branch code. There are detailed compilation and

[2021-04-09 05:44] aritranandi commented on #159
Same error comming with me

[2021-05-10 10:18] xu-song opened #161 "请问怎么实现的服务端过滤，可以大概说一下不"

[2021-07-01 13:35] #117 closed, assigned to nobody

[2021-07-01 13:35] #15 closed, assigned to nobody

[2021-09-08 05:48] tisonkun commented on #120
closed as development moved to https://github.com/apache/incubator-inlong/

[2021-09-08 05:48] #120 closed, assigned to tisonkun

[2021-12-13 10:03] tisonkun commented on #24
Closed as development moved to [Apache InLong (Incubating)](https://github.com/apache/incubator-inlong) already.

[2021-12-13 10:03] #24 closed, assigned to nobody